.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 100vh;
    padding-bottom: 41.6px;
    background-color: #F3F7FA;
    padding: 0 20px;
}

.left-side {
    width: 16%;
    background-color: #F3F7FA;
    padding: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #f3f7fa;
}

.side-tab-item {
    display: block;
    padding: 10px 10px;
    font-size: 16px;
    width: 50%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 30px;
    margin-bottom: 20px;
    cursor: pointer;
}

.side-tab-item:hover {
    background-color: #f0f0f0;
}

.edit-container {
    max-width: 600px;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 20px;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    overflow: hidden;
    flex: 1;
  }
  
  .edit-header {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .edit-form {
    display: flex;
    flex-direction: column;
  }
  
  .edit-form label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .edit-form input,
  .edit-form select {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .edit-actions {
    display: flex;
    justify-content: space-between;
  }
  
  .cancel-btn {
    background-color: #ddd;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-btn {
    background-color: #4285f4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cancel-btn:hover {
    background-color: #ccc;
  }
  
  .submit-btn:hover {
    background-color: #357ae8;
  }