.main-container {
    display: flex;
    flex-direction: row; /* 가로로 나란히 */
    justify-content: space-between; 
    align-items: flex-start; 
    height: 100vh; /* 100% 화면 높이 */
    padding: 0 20px;
    background-color: #F3F7FA;
}

.left-side {
    width: 16%; 
    background-color: #F3F7FA; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* 컴포넌트 간 간격 */
}

.right-side {
    width: 20%; 
    background-color: #F3F7FA;
    padding: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.main-content {
    width: 60%; /* 중앙 컨텐츠 넓이 설정 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.side-tab-item {
    display: block;
    padding: 10px 10px;
    font-size: 16px;
    width: 100%; /* 버튼을 가득 채움 */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 30px;
    margin-bottom: 20px;
    cursor: pointer;
    text-align: center; /* 텍스트 가운데 정렬 */
}

.side-tab-item:hover {
    background-color: #f0f0f0;
}

.schedule {
    padding: 5px;
    border-radius: 5px;
    margin: 2px 0;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
}

.schedule-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #f3f7fa;
    border-radius: 8px;
    margin-bottom: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.schedule-group .schedule-group-header {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.schedule-group .schedule-names {
    font-size: 12px;
    text-align: center;
    color: #555;
}

.schedule.fun {
    font-size: 9px;
    background-color: #D2F0FF;
}

.schedule.important {
    font-size: 9px;
    background-color: #FFD9D9;
}

.schedule.personal {
    font-size: 9px;
    background-color: #FEE6C9;
}

.calendar-day:hover {
    background-color: #e0e0e0;
}

.calendar-day.blank {
    visibility: hidden;
}
